*,
:after,
:before {
    box-sizing: border-box
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    src: url(../media/Inter-Medium.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: Inter;
    font-weight: 300;
    font-style: normal;
    src: url(../media/Inter-Light.woff2) format("woff2");
    font-display: swap
}

html {
    font-size: 10px
}

body {
    background: #E3F4F4;
    color: #2E2740;
    margin: 0;
    padding: 0;
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 300
}

#root {
    padding: 4.4rem 5rem 6rem
}

@media(max-width:440px) {
    #root {
        padding: 4.4rem 2.5rem 6rem
    }
}

a {
    color: #2E2740;
    color: inherit;
    text-decoration: none
}

h1 {
    text-align: left;
}

h2 {
    color: #7B47E1;
    font-size: 7.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

h2+p {
    color: #2E2740;
    margin-bottom: 4rem
}

@media(max-width:440px) {
    h2 {
        color: #7B47E1;
        font-size: 4rem
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0
}

.works .work {
    color: #2E2740;
    font-size: 3rem;
    font-weight: 500
}

@media(max-width:440px) {
    .works .work {
        color: #2E2740;
        font-size: 2rem
    }
}

.works .work a {
    color: #2E2740;
    background: #E3F4F4;
    padding: 1rem 0;
    display: block;
    position: relative;
    z-index: 1;
    border-top: 1px solid #2E2740;
    border-bottom: 1px solid #2E2740;
    margin-top: -1px;
    display: flex;
    align-items: center
}

.works .work a:visited:after {
    color: #2E2740
}

.works .work a:after {
    position: absolute;
    right: 10px;
    color: #2E2740;
}

@media(max-width:440px) {
    .works .work a:after {
        color: #2E2740;
        -webkit-transform: none !important;
        transform: none !important;
        font-size: 1.5rem;
        top: 15px;
        right: 4px
    }
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

.projectImg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 40vw;
}

@media(max-width:640px) {
    .projectImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }
}

.works .work img {
    color: #2E2740;
    width: auto;
    height: 80px;
    margin-right: 10px
}

.works .work em {
    color: #2E2740;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal
}

.works .work span {
    color: #2E2740;
    pointer-events: none
}

.link,
.works .work span {
    color: #2E2740;
    display: inline-block
}

@media(max-width:440px) {
    .link {
        color: #2E2740;
        -webkit-transform: translateX(4px) !important;
        transform: translateX(4px) !important
    }
}

.overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E3F4F4;
    mix-blend-mode: difference;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    pointer-events: none
}

.experiments {
    -webkit-columns: 2;
    column-count: 2
}

@media(max-width:640px) {
    .experiments {
        -webkit-columns: 1;
        column-count: 1
    }
}

.experiments .experiment {
    color: #2E2740;
    font-size: 1.8rem;
    font-weight: 500
}

.experiments .experiment a {
    color: #2E2740;
    background: #fff;
    padding: 1rem 0;
    display: block;
    position: relative;
    z-index: 1;
    border-top: 1px solid #2E2740;
    border-bottom: 1px solid #2E2740;
    margin-top: -1px;
    display: flex;
    align-items: center
}

.experiments .experiment a img {
    color: #2E2740;
    width: auto;
    height: 60px;
    margin-right: 10px
}

.experiments .experiment a:visited:after {
    color: #2E2740
}

.experiments .experiment a:after {
    content: "✓";
    position: absolute;
    right: 10px;
    color: #fff
}

.experiments .experiment em {
    font-weight: 300;
    font-size: 1.2rem;
    font-style: normal;
    display: inline-block;
    width: 17px
}

.experiments .experiment span {
    display: inline-block;
    pointer-events: none
}

.intro,
section {
    opacity: 1
}

.intro {
    color: #2E2740;
    margin-top: 6rem;
    font-size: 2rem;
    line-height: 1.3
}

.intro strong {
    color: #2E2740;
    font-size: 3rem;
    display: block;
    margin-bottom: .5rem;
    font-weight: 300
}

@media(max-width:440px) {
    .intro strong {
        color: #2E2740;
        font-size: 2.6rem
    }
}

.cls-1,
.cls-2 {
    color: #2E2740;
    fill: none;
    stroke: #2E2740;
    stroke-miterlimit: 10
}

.cls-1 {
    stroke-width: 21px
}

.cls-2 {
    stroke-width: 25px
}

.cls-3 {
    fill: #E3F4F4
}

.cv-work {
    color: #2E2740;
    display: block;
    padding: 2rem 0;
    font-size: 1.6rem;
    border-bottom: 1px solid #2E2740
}

.cv-work h3 {
    color: #2E2740;
    font-size: 1.8rem
}

.cv-work .years {
    color: #2E2740;
    font-size: 1.4rem;
    margin-bottom: 3px
}

.cv-work a {
    color: #2E2740;
    color: #2E2740;
    border-bottom: 1px dashed #2E2740
}

ul {
    color: #2E2740;
    margin: 0;
    padding: 0
}

ul li {
    color: #2E2740;
    list-style-type: none;
    font-size: 1.6rem
}

ul li,
ul li a {
    color: #2E2740;
    padding: 1rem 0;
    border-bottom: 1px solid #2E2740
}

ul li a {
    color: #2E2740;
    background: #E3F4F4;
    display: block;
    position: relative;
    z-index: 1;
    border-top: 1px solid #2E2740;
    margin-top: -1px
}

.no-border li {
    border-bottom: none;
    padding: 0
}

iframe {
    display: none !important
}

/*# sourceMappingURL=main.8e896fda.chunk.css.map */